* {
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #181818;
}

body header {
    position: absolute;
}

.sections {
    margin-bottom: 120px;
}

.sections section {
    position: relative;
    border-radius: 8px;
    background: rgba(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    overflow: hidden;
}

.logo-svg {
    fill: #fff;
}